text_10g.txt 
time.log
output.log
upload/
reduce_res/
map_res/
reduce_input/
map_output/
dfs/
.vscode/
Apartments.csv
genenrate_txt.py
join_output/
text.txt
test.ipynb
test.py
unique_stories.csv
Traffic_Signal_Intersections.csv
Traffic_Signal_Intersections_2.csv
